<div class="d-flex justify-content-center mt-5">

  <div class="card">
  <div class="card-header">
    <h1>Team Generator</h1>
  </div>
 
  <div class="card-body">
    
    <div style="height: 200px; overflow-y: scroll;" class="border">
      <ul style="list-style: none;padding: 5px; margin: 0;">
        <li  *ngFor="let nm of names" >{{nm}}</li>
      </ul>
    </div>
    <br />
    <div>
      <label>User count: {{names.length}}</label>
      <input type="text" [(ngModel)]="name" class="d-block"  placeholder="name">
      <br />
      
      <button (click)="addUser()" class="ml-5" >Add</button>
      <button (click)="clearUsers()" >clear</button>
      
    </div>
    <br/>
    <div>
      <input   [(ngModel)]="numberOfTeams"  type="number" placeholder="# teams">
      <button (click)="generateTeam()">Generate</button>
    </div>
     <br />


    <app-team [teamsData]="teams"></app-team>

    
  </div>
  <div>
  <label *ngIf="errorMsg" class="text-danger p-2">{{errorMsg}}</label>
</div>
  </div>

</div>

